.CardPopUp_Chance {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;
}

.CardPopUp_Community {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;
}

.CardPopUp_Property {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;
}

.Chance_Community_Text {

}

.Property_Header {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

.Property_Price {
    text-align: center;
    font-family: sans-serif;



    /* This div is for the header, title deed, title name */

}