.personlization-menu{
  // background-color: #f6f6f6;
  // min-height:730px;
  .root-siderbar{
    min-height:730px;
    position:relative;
    background-color: #f6f6f6;
  }

  .menu-position{ 
  //background-color: rgb(0, 68, 135);
  // background: -webkit-linear-gradient(left,#004487,#004487);
  // background: -o-linear-gradient(right,#004487,#004487);
  // background: -moz-linear-gradient(right,#004487,#004487);
  // background: linear-gradient(to right,#004487,#004487);
  //border: 1px rgb(1, 56, 112); 
  //background-image: url(../../img/sidebar.jpg);
  //opacity: 0.5;
  border-top-right-radius:    3px;
  border-bottom-right-radius: 3px;
  width: 205px;
  padding: 0px;
  height:100%;
  color: #f6f6f6;
  font-family: "微軟正黑體";
  z-index:299;
  
  & .default-photo {
    text-align: center;
    margin-top: 0px;
    margin-left: 55px; 
    padding: 25px;
  }
  & .avatar-size {
    margin-left: -15px;
    height: 80px;
    width: 80px;
  }
  & .personality-position{
    font-size: 15px;
    // padding-top: 5px;
    text-align: center;
    font-weight:600;
    color:#f6f6f6;
    margin-bottom: -6px;
  }
  & .list-btn{
      text-align: left;
      width: 205px;
      height: 55px;
      //border-radius: 10px;
      background-color:transparent;
      outline:none;
      color:  #f6f6f6;
      font-weight:500;
      font-family: "微軟正黑體";
      border: none;
      padding: 0px 30px 0px;
      
  }
  & .list-btn-hidden{
      text-align: left;
      width: 205px;
      height: 55px;
      border-radius: 10px;
      border:0px;
      background-color: transparent;
      outline:none;
      color:  #f6f6f6;
      font-weight:bold;
      font-family: "微軟正黑體";
      // padding-top: 0px
  }
  & .list-btn:hover{
      background-color: #35343c4f;
      color: #f6f6f6;
  }
  & .list-btn a{
      color: inherit;
  }
  & .list-btn-content{
        font-size:16px;
        font-weight:600;
        display:inline;
        margin-left: 10px;
  }
  
  & .logout-btn{
    text-align: left;
    width: 180px;
    //height: 55px;
    //border-radius: 10px;
    background-color:transparent;
    outline:none;
    color:  #f6f6f6;
    font-weight:500;
    font-family: "微軟正黑體";
    border: none;

    
}
& .logout-btn-hidden{
    text-align: left;
    width: 180px;
    height: 55px;
    border-radius: 10px;
    border:0px;
    background-color: transparent;
    outline:none;
    color:  #f6f6f6;
    font-weight:bold;
    font-family: "微軟正黑體";
    padding-top: 0px
}
& .logout-btn:hover{
    background-color: #35343c4f;
    color: #f6f6f6;
}
& .logout-btn a{
    color: inherit;
}
& .logout-btn-content{
      font-size:16px;
      display:inline;
      
}
}
}

//PersonalizePage和子頁面的css
.personalize-menu {
  background-color: rgb(0, 68, 135);
  // background-color: #032c61;
  // border-radius: 5px;
  width: 210px;
  padding: 25px;
  left: 0px;
  top: 0px;
  height: 100%;
  position: fixed;
  // color: #bba57d;

  & label {
    margin-top: 15px;
    color:#222222;
  }
  & .card-title {
    color: #ce4f28;
    text-align: center;
  }
  & .default-photo {
    text-align: center;
    margin-top: -5px;
    margin-left: 55px; 
  }
  & .avatar-size {
    margin-left: -15px;
    height: 80px;
    width: 80px;
  }
  & .user-bar {
    color: #505050;
    background-color: #fffcf7;
    margin-left: 0px;
    width: 150px;
    margin-top: 10px;
    font-family: "微軟正黑體";
    border-radius: 5px;
    padding: 10px;
  }
  & .face-icon {
    display: inline-block;
    padding: 0px 10px 0px;
  }
  & .btn {
    background-color: rgb(0, 68, 135);
    border-color:rgb(0, 68, 135);
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 3px;
    letter-spacing: 3px;
    text-align: left;
    margin-left: -12px;
    width: 170px;
  }
  & .btn:hover {
    background-color: #fff  ;
    border-color: #ffffff;
    // border-color: #ffcdb2;
  }
  & .personalize-page .btn {
    background-color: #ffffff;
    border-color:#ffffff;
    color: #707070;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    text-align: center;
    padding: 0px;
    padding-inline-end: 12px;
    margin-top: 20px;
    margin-left: 0px;
    width: 150px;
  }
  & .fundu-page .btn {
    background-color: #ffffff;
    border-color:#ffffff;
    color: #707070;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0px;
    text-align: center;
    width: 150px;
    padding: 3px;
    margin-top: 8px;
    margin-left: 0px;
  }
  
  & .forgot {
    text-align: center;
  }
}

.card-personalize {
  min-height: 1000px;
  .intro-space{
    margin-top: -100px;
    .intro-myfund {
      background-color: #ffffff;
      border-radius: 8px;
      width: 450px;
      // height: 200px;
      margin-left: 200px;
      margin-top: 250px;
      padding: 30px;    
      & label {
        margin-top: 15px;
        color:#222222;
      }
      & .card-title {
        color: #ce4f28;
        text-align: center;
      }
      & .p1-intro {
        color: #b75d69;
        text-align: left;
        font-size: 20px;
        font-family: "微軟正黑體";
        margin-top: 30px;
        margin-left: 30px;
      }
      & .btn {
        margin-top: 30px;
      }
      & .forgot {
        text-align: center;
      }
    } 
    .card-personalize5-intro {
      background-color: #ffffff;
      border-radius: 8px;
      // color: #fff;
      width: 450px;
      margin: -580px 560px 100px;
      // min-height: 1000px;
      padding: 30px;
      top: 730px; 
      left: 120px;
      position: absolute;
    
      & label {
        margin-top: 15px;
        color:#222222;
      }
      & .card-title {
        color: #ce4f28;
        text-align: center;
      }
      & .p5-intro {
        color: #b75d69;
        text-align: left;
        font-size: 20px;
        font-family: "微軟正黑體";
        margin-top: 30px;
        margin-left: 30px;
      }
      & .btn {
        margin-top: 30px;
      }
      & .forgot {
        text-align: center;
      }
    } 
    .card-personalize2-intro {
      background-color: #ffffff;
      border-radius: 8px;
      width: 450px;
      // height: 200px;
      margin-left: 200px;
      margin-top: 30px;
      padding: 30px;    
      & label {
        margin-top: 15px;
        color:#222222;
      }
      & .card-title {
        color: #ce4f28;
        text-align: center;
      }
      & .p2-intro {
        color: #b75d69;
        text-align: left;
        font-size: 20px;
        font-family: "微軟正黑體";
        margin-top: 30px;
        margin-left: 30px;
      }
      & .btn {
        margin-top: 30px;
      }
      & .forgot {
        text-align: center;
      }
    }
    .card-personalize3-intro {
      background-color: #ffffff;
      border-radius: 8px;
      // color: #fff;
      width: 450px;
      margin: -580px 560px 100px;
      // min-height: 1000px;
      padding: 30px;
      top: 970px; 
      left: 120px;
      position: absolute;
    
      & label {
        margin-top: 15px;
        color:#222222;
      }
      & .card-title {
        color: #ce4f28;
        text-align: center;
      }
      & .p2-intro {
        color: #b75d69;
        text-align: left;
        font-size: 20px;
        font-family: "微軟正黑體";
        margin-top: 30px;
        margin-left: 30px;
      }
      & .btn {
        margin-top: 30px;
      }
      & .forgot {
        text-align: center;
      }
    }
    .card-personalize4-intro {
      background-color: #faeedc;
      border-radius: 8px;
      // color: #fff;
      width: 450px;
      margin: -580px 560px 100px;
      // min-height: 1000px;
      padding: 30px;
      top: 850px; 
      margin-bottom: 200px;
      left: 120px;
      position: absolute;
    
      & label {
        margin-top: 15px;
        color:#222222;
      }
      & .card-title {
        color: #ce4f28;
        text-align: center;
      }
      & .p2-intro {
        color: #b75d69;
        text-align: left;
        font-size: 20px;
        font-family: "微軟正黑體";
        margin-top: 30px;
        margin-left: 30px;
      }
      & .btn {
        margin-top: 30px;
      }
      & .forgot {
        text-align: center;
      }
    }
  }
}

.card-personalize-myfund {
  width: 100%;
  min-height: 100%;
  // bottom: 10px;
  // margin-top: -150px;
  position:relative;
  
  .card-personalize1 {
    background-color: #f6f6f6;
    border-radius: 8px;
    color: #f6f6f6;
    width: 100%;
    margin-top:-10px;
    padding:0px 20px;
    //margin-left: 160px;
    left: 120px;
    font-family: "微軟正黑體";
    z-index:0;
    

    & .card-personalize1-title{
      font-family: "微軟正黑體";
      font-weight:800;
      color:#1a5da0;
      font-size:30px;
      z-index:1;
      padding:5px;
      .card-content{
        font-family: "微軟正黑體";
        font-weight:800;
        color:#1a5da0;
        font-size:13px;
        z-index:1;

      }
    }
  
    & label {
      margin-top: 15px;
      color:#f6f6f6;
    }
    & .card-title {
      color: #f6f6f6;
      text-align: center;
    }
    & .fund-follows {
      color: #f6f6f6;
      text-align: left;
      font-size: 25px;
      font-family: "微軟正黑體";
      margin-top: 30px;
      margin-left: 4px;
    }
    & .following-funds-table {
      margin-left: auto;
      margin-right: auto;
      z-index:1;
    }
    // & .memo_content {
    //   background-color: #facdb3;
    // }
    
    & .btn {
      margin-top: 30px;
    }
    & .forgot {
      text-align: center;
    }
  
    .input-group-text {
      border: 1px solid $white-color;
    }
  }
}

.card-personalize-mytag {
  min-height: 1000px;
  .card-personalize5-table{
    padding: 15px;
  }
  
  .card-personalize5 {
    background-color: #faeedc;
    border-radius: 8px;
    // color: #fff;
    width: 800px;
    margin: -580px 80px 100px;
    // min-height: 1000px;
    padding: 30px;
    top: 600px; 
    left: 120px;
    position: absolute;
    
  
    & label {
      margin-top: 15px;
      color:#222222;
    }
    & .card-title {
      color: #ce4f28;
      text-align: center;
    }
    & .week-new-tag-title {
      color: #b75d69;
      text-align: left;
      font-size: 25px;
      font-family: "微軟正黑體";
      margin-top: 30px;
      margin-left: 30px;
    }
    & .week-new-tag {
      background-color:#f19c79;
      border-radius: 8px;
      // min-height: 250px;
      padding: 30px 10px;
      margin-top: 20px;
      margin-bottom: 50px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      
      #week-tag-table {
        margin:0 auto;
      }

      #week-tag-table th{
        font-size: 18px;
        font-family: "微軟正黑體";
        padding: 10px 25px;
        color: #F8EDEB;
        font-weight:bold;
        text-align:center;
        background: #e26d5c;
      }

      #week-tag-table tr{
        font-size: 20px;
        padding: 10px 25px;
        color: #e26d5c;
        font-weight:bold;
        text-align:center;
        background: #F8EDEB;
      }

      & .tag-delete-btn {
        background-color: #fff;
        border-color:#ffffff;
        color:#505050;
        border-radius: 5px;
        font-family: "微軟正黑體";
        font-size: 16px;
      }
      & .tag-delete-btn:hover {
        background-color: #ffcdb2;
        border-color: #ffcdb2;
      }
    }
    & .history-new-tag-title {
      color: #b75d69;
      text-align: left;
      font-size: 25px;
      font-family: "微軟正黑體";
      margin-top: 30px;
      margin-left: 30px;
    }
  }
  
}

.card-personalize-characteranalysis {
  width: 100%;
  min-height: 100%;
  // bottom: 10px;
  // margin-top: -150px;
  position:relative;
  
  .card-personalize2 {
    background-color: #f6f6f6;
    border-radius: 8px;
    color: #f6f6f6;
    width: 100%;
    margin-top:-10px;
    padding:0px 20px;
    //margin-left: 160px;
    left: 120px;
    font-family: "微軟正黑體";
    z-index:0;


    & .card-personalize1-title{
      font-family: "微軟正黑體";
      font-weight:800;
      color:#1a5da0;
      font-size:30px;
      z-index:1;
      padding:5px;
    }
    & .btn {
      background-color: #347cc4;
      border-color:#347cc4;
      color: rgb(243, 243, 243);
      font-size: 16px;
      font-weight: 550;
      margin-left: 60px;
      margin-top: 5px;
      box-shadow:4px 4px 4px rgba(0, 0, 0, 0.3);
      border-radius: 15px;
    }

    & .card-personalize2-1{
      background-color:rgb(216, 216, 216);
      border-radius: 8px;
      width: 1100px;
      padding: 30px 40px;
      // margin-left: 0px;
      margin-top: 30px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      font-family:Microsoft JhengHei;

    }
    & .card-personalize1-title2{
      font-family: "微軟正黑體";
      font-weight:800;
      color:#1a5da0;
      font-size:28px;
      z-index:1;
      padding:5px;
      margin-left:20px;
    }
    & .card-personalize1-title2-1{
      font-family: "微軟正黑體";
      font-weight:800;
      color:#971414;
      font-size:28px;
      z-index:1;
      padding:5px;
      margin-left:20px;
      display: inline-block;
    }
    & .card-personalize1-title2-2{
      font-family: "微軟正黑體";
      font-weight:800;
      color:#971414;
      font-size:28px;
      z-index:1;
      padding:5px;
      margin-left:20px;
      display: inline-block;
    }
    & .forgot {
      text-align: center;
    }
    .input-group-text {
      border: 1px solid $white-color;
    }
    & .game-result-title-1 {
      color: #000;
      text-align: left;
      font-size: 20px;
      font-family: "微軟正黑體";
      margin-top: 30px;
      margin-left: 100px;
    }
    & .result-content-1 {
      background-color: #FFF;
      width: 500px;
      // height: 220px;
      border-radius: 10px;
      margin-top: 20px;
      margin-left: 40px;

      color: #000;
      text-align: left;
      font-size: 17px;
      font-weight: 700;
      font-family: "微軟正黑體";
      // margin-top: 30px;
      padding: 25px;
      padding-top: 35px;
    }
    & .result-chart {
      text-align: center;
      padding-bottom:20px;
    }

    
  }
  
}

.card-personalize-pig {
  width: 100%;
  min-height: 100%;
  // bottom: 10px;
  // margin-top: -150px;
  position:relative;

  .card-personalize1 {
    background-color: #f6f6f6;
    border-radius: 8px;
    color: #f6f6f6;
    width: 100%;
    margin-top:-10px;
    padding:0px 20px;
    //margin-left: 160px;
    left: 50%;
    font-family: "微軟正黑體";
    z-index:0;

    & .card-personalize1-title{
      font-family: "微軟正黑體";
      font-weight:800;
      color:#1a5da0;
      font-size:30px;
      z-index:1;
      padding:5px;
    }
    & .dollor-cost-average{
      font-family: "微軟正黑體";
      font-weight:600;
      color: #347cc4;
      font-size: 26px;
      z-index:1;
      text-align: left;
      margin-left: 50px;
      margin-top:15px;
      left:50%;
    }
    & .fund-recommendation{
      font-family: "微軟正黑體";
      font-weight:600;
      color: #347cc4;
      font-size: 26px;
      z-index:1;
      text-align: center;
      margin-left: 63px;
      margin-top:15px;
      left:50%;
    }
    & .sub-fund-recommendation{
      font-family: "微軟正黑體";
      font-weight:600;
      color: #000000;
     // font-size: 15px;
     font-size: 100%;
      z-index:1;
      text-align: center;
      margin-left: 63px;
      margin-top:15px;
      left:50%;
    }
    & .button-center{
      margin:0 auto;
      margin-left: 0px;
      margin-top: 0px;
      z-index:1;
      text-align: center;
    }
    & .tag-btn{
      width: 120px;
      height: 40px;
      border-radius: 20px;
      margin-left: 20px;
      margin-top: 15px;
      margin-bottom: 8px;
      border:#1a5da0 solid 2px;
      background-color:#1a5da0;
      outline:none;
      color:  #FFF;
      font-weight:bold;
      font-family:Microsoft JhengHei;
      display: inline-block;
    }
    & .tag-btn-hidden{
      width: 150px;
      height: 10px;
      border-radius: 20px;
      margin-left: 20px;
      margin-top: 0px;
      margin-bottom: 19px;
      border:0px;
      background-color: transparent;
      outline:none;
      color:  #1a5da0;
      font-weight:bold;
      font-family:Microsoft JhengHei;
      padding-top: 0px
    }
    & .tag-btn:hover{
      background-color: #ffffff;
      color: #1a5da0;
    }
    & .tag-btn a{
      color: inherit;
    }
  
    & .recommendation-div{
      margin-left:60px;
      margin-top: 30px;
      margin-bottom: 50px;
    }
    
    & label {
      margin-top: 15px;
      color:#222222;
    }
    
    & .dollor-cost-average-sub {
      background-color:rgb(216, 216, 216);
      border-radius: 8px;
      width: 950px;
      padding: 30px 10px;
      // margin-left: 0px;
      margin-top: 10px;
      margin-left: 40px;
      margin-bottom: 50px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      font-family:Microsoft JhengHei;

      .little-title{
        font-size:18px;
        font-weight:600;
        color:#000;
        margin-left: 30px;
        margin-top: 0px;

      }
      .little-radio{
        margin-top:-24px;
      }
      .little-radio-large{
        margin-top:-20px;
        margin-left:10px;
      }

     
    
    & .outlook-sub{
      background-color:#ffffff;
      border: 10px #ffffff solid;
      border-collapse: separate;
      color: #222222;
      border-radius: 8px;
      margin:0 auto;
      font-weight:600;
      font-size: 16px;
      padding: 10px;
      min-height: 266px;
      max-width: 264px
    }
    .outlook-sub-large{
      background-color:#ffffff;
      border: 10px #ffffff solid;
      border-collapse: separate;
      color: #222222;
      border-radius: 8px;
      margin:0 auto;
      font-size: 16px;
      font-weight:600;
      padding: 10px;
      min-height: 312px;
      max-width: 264px
    }
      
      #dollor-table {
        background-color:#ffffff;
        border: 10px #ffffff solid;
        border-collapse: separate;
        color:#666666;
        border-radius: 8px;
        margin:0 auto;
        font-weight:600;
        font-size: 16px;
        padding: 10px;
        min-height: 266px;
        min-width: 264px;

        .dollor-table-btn {
          text-align: left;
          padding-left: 0px;
          padding-top: 9px;
        }
        .set-btn {
          border:#1a5da0 solid 2px;
          background-color:#1a5da0;
          text-align: center;
          padding: 5px;
          width: 90px;
          border-radius: 5px;
          outline:none;
          color:  #FFF;
          font-weight:600;
          font-family:Microsoft JhengHei;
          font-size: 14px;
          
        }
        .set-btn-hidden{
          width: 150px;
          height: 10px;
          border-radius: 20px;
          margin-left: 20px;
          margin-top: 0px;
          margin-bottom: 19px;
          border:0px;
          background-color: transparent;
          outline:none;
          color:  #1a5da0;
          font-weight:bold;
          font-family:Microsoft JhengHei;
          padding-top: 0px
      }
      .set-btn:hover{
          background-color: #FFF;
          color: #1a5da0;
      }
      .set-btn a{
          color: inherit;
      }
      }
    }
    & .btn {
      background-color: #fff;
      border-color:#fff;
      font-size: 18px;
      margin-top: -80px;
      margin-left: 500px;
      box-shadow:4px 4px 4px rgba(0, 0, 0, 0.4);
    }
    & .forgot {
      text-align: center;
    }
    .input-group-text {
      border: 1px solid $white-color;
    }
  }
}