.compare-menu{
    background-color:rgb(110, 164, 218);

    .compare-title{
        color: #f6f6f6;
        font-size: 40px;
        margin-top: 150px;
        display:inline-block;
        font-weight:900;
        font-family:Microsoft JhengHei;
    }

    .sub-compare-gragh{
        background-color:#f6f6f6;
        border-radius: 15px;
        margin-top: 30px;
        transform: translateX(1%);
        width: 95%;
        padding: 20px 0px;

        .compare-label{
            width: 150px;
            height: 45px;
            border-radius: 10px;
            border:rgb(0, 68, 135) solid 2px;
            background-color:rgb(0, 68, 135);
            color: #ffffff;
            margin-top: 10px;
            margin-left: 75px;
            font-weight:bold;
            font-family:Microsoft JhengHei;
            font-size: 30px;
            text-align: center;
        }

        .compare-chart{
            transform: translateX(15%);
            width: 75%;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .compare-btn{
            margin-left: 350px;
        }

        #btn-net{
            width: 90px;
            height: 35px;
            border:rgb(2, 90, 179) solid 2px;
            background-color:rgb(2, 90, 179);
            font-size: 20px;
            margin-left: 30px;
            outline:none;
            color:  #ffffff;
            font-weight:bold;
            text-align:center;
            font-family:Microsoft JhengHei;
        }
        #btn-performance{
            width: 90px;
            height: 35px;
            border:rgb(2, 90, 179) solid 2px;
            background-color:rgb(2, 90, 179);
            font-size: 20px;
            margin-top: -4px;
            margin-left: 30px;
            outline:none;
            color:  #ffffff;
            font-weight:bold;
            text-align:center;
            font-family:Microsoft JhengHei;
        }
        #btn-risk{
            width: 90px;
            height: 35px;
            border:rgb(2, 90, 179) solid 2px;
            background-color:rgb(2, 90, 179);
            font-size: 20px;
            margin-top: -4px;
            margin-left: 30px;
            outline:none;
            color:  #ffffff;
            font-weight:bold;
            text-align:center;
            font-family:Microsoft JhengHei;
        }

        .sub-btn-net{
            width: 90px;
            height: 35px;
            border:rgb(2, 90, 179) solid 2px;
            background-color:#ffffff;
            margin-left: -3px;
            outline:none;
            color:  rgb(2, 90, 179);
            font-weight:bold;
            font-family:Microsoft JhengHei;
        }

        .sub-btn-performance{
            width: 90px;
            height: 35px;
            border:rgb(2, 90, 179) solid 2px;
            background-color:#ffffff;
            margin-top: -4px;
            margin-left: -3px;
            outline:none;
            color:  rgb(2, 90, 179);
            font-weight:bold;
            font-family:Microsoft JhengHei;
        }

        .sub-btn-risk{
            width: 90px;
            height: 35px;
            border:rgb(2, 90, 179) solid 2px;
            background-color:#ffffff;
            margin-top: -4px;
            margin-left: -3px;
            outline:none;
            color:  rgb(2, 90, 179);
            font-weight:bold;
            font-family:Microsoft JhengHei;
        }

        .sub-btn-net:focus {
            background-color: rgb(2, 90, 179);
            color: #ffffff;
            border-left:#ffffff solid 1px;
        }
        .sub-btn-performance:focus {
            background-color: rgb(2, 90, 179);
            color: #ffffff;
            border-left:#ffffff solid 1px;
        }
        .sub-btn-risk:focus {
            background-color: rgb(2, 90, 179);
            color: #ffffff;
            border-left:#ffffff solid 1px;
        }
    }

    .sub-compare-info{
        background-color:#f6f6f6;
        border-radius: 15px;
        margin-top: 30px;
        transform: translateX(1%);
        width: 95%;
        padding: 30px 0px;

        .compare-table{
            border: 2px #ffffff solid;
            margin:0 auto;
          //  margin-top: 10px;
            margin-bottom: 15px;
        }

        .compare-table tr{
            display: block;
          //  margin-top: -0.5px;
        }

        .compare-table th{
            font-size: 20px;
            padding: 5px 5px;
          //  width: 350px;
            color: #ffffff;
            font-weight:bold;
            text-align:center;
            background: rgb(0, 68, 135);
         //   display: block;
            font-family:Microsoft JhengHei;
            
        }

        .compare-table td{
            font-size: 20px;
            padding: 2px 5px;
            color: rgb(0, 68, 135);
         //   width: 350px;
          //  text-align:center;
            text-align:center;
            background: #ffffff;
          //  display: block;
            border:rgb(0, 68, 135) solid 1px;
            font-family:Microsoft JhengHei;
        }

        .compare-label{
            font-size: 20px;
            color: rgb(0, 68, 135);
            text-align:center;
            font-weight:bold;
            margin-left: 25px;
            font-family:Microsoft JhengHei;
        }

        .add-compare{
            background-color: rgb(0, 68, 135);
            color: #ffffff;
            font-weight:bold;
            font-family:Microsoft JhengHei;
            border:#ffffff dotted 2px;
            outline:none;
            border-radius: 20px;

        }

        .add-compare:focus{
            background-color: rgb(0, 68, 135);
        }
        
    }

}