.landing-alert{
    margin-bottom: 0;
}
.page-header{
    background-color: #B2AFAB;
    background-position: center center;
    background-size: cover;
    // min-height: 90vh;
    // max-height: 999px;
    height:100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .filter::after{
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    &.page-header-small{
        min-height: 65vh !important;
        max-height: 700px;
    }
    &.page-header-xs{
        min-height: 40vh !important;
    }

    &.section-dark{
        .content-center,
        .category-absolute{
            z-index: 1;
        }
    }
}
.page-header .motto{
    text-align: left;
    z-index: 3;
    color: #fff;
    position: relative;

}
.landing-section{
    padding: 100px 0;
    z-index: 1;
}
.section-buttons{
    z-index: 1;
}
.landing-section .btn-simple{
    padding: 0;
}
.landing-section .column{
    padding: 0 75px 0 25px;
}
.team-player .img-circle, .team-player .img-thumbnail{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}
.contact-form{
    margin-top: 30px;
}
.contact-form label{
    margin-top: 15px;
}
.contact-form .btn{
    margin-top: 30px;
}

.navbar-relative{
    position: relative;
    z-index: 2;
}
// #register-navbar a{
//     color: #FFF;
// }
// .register-background .container{
//     margin-top: 11%;
//     position: relative;
//     z-index: 3;
// }
// .register-footer{
//     bottom: 20px;
//     position: absolute;
//     z-index: 1;
//     width: 100%;
//     background: transparent;
//     color: $white-color;
// }
// .register-footer .fa-heart{
//     color: #EB5E28;
// }

// .register-card label{
//     margin-top: 15px;
// }
// .register-card .title{
//     color: #B33C12;
//     text-align: center;
// }
// .register-card .btn{
//     margin-top: 30px;
// }
// .register-card .forgot{
//     text-align: center;
// }

.personalization-title{
    
   //text-align: center;
   position: relative;
   margin-top: 70px;
   .title-size{
       font-size: 25px;
       //font-weight:bold;
   }
}

.position-right{
    float:right;
    margin-top: -8px; 
    position: relative;
}

.position-center{
    width: 50%;
    margin: 0 auto;
}

.Personalization-page-position{
    margin-top: 35px;
}
.register_avatar_upload{
    border-width:0.8px;
    border-style:solid;
    border-color:white;
    padding:8px;
    height: 120px;
    width:120px;
    //position: center;
    //width: 50%;
    margin: 0 auto;
}
.upload_btn{
    width: 100px;
    height: 100px;
}
.avatar_btn_div{
    margin-top: 6px;
}
.avatar_preview_div{
    width: 113px;
    height: 113px;
    border-style:double;
    margin-top: 4px;
}
    
.avatar_preview{
    width: 100%;
    height: 100%;

}

.register_textfield_font{
    font-family: 'Montserrat','Noto Sans TC', sans-serif;
}
.register-btn{
    margin-top: 9px;
    float:left;
    padding-right:30px;
}
.register-title{
    //text-align: center;
    margin-top: 40px;
    position: relative;
    
}
.register-waiting{
    display:inline;
}
.register-alert{
    //text-align: center;
    font-size: 14px;
    //background-color:white;
    color:red;
    //font-weight: bold;
    font-family: 'Montserrat','Noto Sans TC', sans-serif;
    margin-left: 30px;
    //width: 120px;
    height: 39px;
    text-align: center;
    float: left;
    margin-top: 10px;
    line-height: 39px;
}

.profile-content{
    position: relative;
}
.owner{
    text-align: center;
}
.owner .avatar{
    padding: 15px;
    max-width: 180px;
    margin: -85px auto 0;
    display: inline-block;
}
.owner .name h4{
    margin-top: 10px;
}
.profile-tabs{
    margin: 50px 0;
    min-height: 300px;
}
.title-brand{
    font-family: "jf-openhuninn";
    font-size: 40px;
    max-width: 730px;
    margin: 0 auto;
    position: relative;
    display: block;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0em 0em 0.085em #ffffff;
    opacity: 1;
    animation: brand 2s ease 1;
}
@keyframes brand{
    from{
        opacity: 0;
        top:-2.5em;
    }
    to{
        opacity: 1;
        top:0em;
    }
}
.title-brand_1
{
    font-family: "jf-openhuninn";
    font-size: 24px;
    max-width: 730px;
    margin: 0 auto;
    position: relative;
    display: block;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0em 0em 0.085em #ffffff;
    opacity: 1;
    margin-top: 20px;
    animation: brand 2s ease 1;
}

.title-line{
    width: 0%;
    opacity: 0.9;
    height: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background:white;
    border-radius: 60px;
    box-shadow: 0em 0em 2em #ffffff;
    animation: line 1.5s ease 0.5s 1 forwards;
}
@keyframes line{
    from{
        width: 0%;
    }
    to{
        width: 20%;
    }
}
.presentation-title{
    font-family: 'Montserrat','Noto Sans TC', sans-serif;
    font-size: 8em;
    letter-spacing: 10px;
    line-height: 1em;
    font-weight: 700;
    text-align: center;
    margin: 0;
    .title_1{
        display: inline-block;
        animation: move1 2s ease 1 forwards;
        background: linear-gradient(180deg, white 60%,#9ef2f7);
        background: -ms-linear-gradient(180deg, white 60%,#9ef2f7);
        background: -moz-linear-gradient(180deg, white 60%,#9ef2f7);
        background: -webkit-linear-gradient(270deg, white 60%,#9ef2f7);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
        transition: 3s;
    }
    .title_2{
        display: inline-block;
        animation: move2 2s ease 1 forwards;
        background: linear-gradient(270deg, white 60%,#9ef2f7);
        background: -ms-linear-gradient(180deg, white 60%,#9ef2f7);
        background: -moz-linear-gradient(180deg, white 60%,#9ef2f7);
        background: -webkit-linear-gradient(270deg, white 60%,#9ef2f7);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
    }
    //background-position需要注意，如果背景圖片的大小和容器一樣，那設置百分比的值將永遠無效，
    //因為“容器和圖片的差”為0（圖片永遠填滿容器，並且圖片的相對位置和容器的相對位置永遠重合）。
    //在這種情況下，需要為偏移使用絕對值（例如px）。
}

@keyframes move1{
    from{
        text-shadow: 0em 0em 0em #ffffff;
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        text-shadow: 0em 0em 0.7em #ddfeff;
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes move2{
    from{
        text-shadow: 0em 0em 0em #ffffff;
        transform: translateX(30%);
        opacity: 0;
    }
    to{
        text-shadow: 0em 0em 0.7 #ddfeff;
        transform: translateX(0%);
        opacity: 1;
    }
}
