.section{
    padding: 70px 0;
    position: relative;
    background-color: #FFFFFF;
}
.section-with-space{
    padding: 60px 0;
}
.section-gray{
    background-color: #EEEEEE;
}
.section-nude{
    background-color: $bg-nude;
}
.section-gold{
    background-color: #caac90;
    color: $white-color;
}
.section-brown{
    background-color: #A59E94;
    color: $white-color;
}
.section-light-blue{
    background-color: $primary-color;
    color: $white-color;
}
.section-dark-blue{
    background-color: #506367;
    color: $white-color;
}
.section-dark{
    background-color: #0b1011;
}
.section-image,
.section-gold,
.section-dark{
    position: relative;

    .title,
    .info-title,
    .card-plain .card-title{
        color: $white-color !important;
    }
    .category,
    .description,
    .card-plain .card-description,
    .card-plain .card-category{
        color: rgba($white-color, .7);
    }
    hr{
        border-color: rgba(255, 255, 255, 0.19);
    }
}
.page-header,
.carousel-caption{
    .title,
    .info-title{
        color: $white-color;
    }
}
[class*="features-"],
[class*="team-"],
[class*="projects-"],
[class*="pricing-"],
[class*="testimonials-"],
[class*="contactus-"]{
    padding: 80px 0;
}
.section-image{
    background-position: center center;
    background-size: cover;

    &:before{
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    & .container{
        position: relative;
        z-index: 2;
    }
}

.section-login{
    min-height: 700px;
    //background-color: '#fb8b75';
    background:linear-gradient(#005b9f,transparent);
    & .go-to-register-btn-position{
        margin:0px auto;
        padding-top: 8px;
        font-size: 10px;
        
    }
    & .go-to-register-btn{
        a:link {
            color: rgb(75, 75, 75)5b9f;
            text-decoration: none;
        }
      
        a:visited {
            color: rgb(75, 75, 75)5b9f;
            text-decoration: none;
        }
        
        a:hover {
            color: rgb(100, 161, 235)5b9f;
            text-decoration: none;
            cursor: pointer; 
        }
        
        a:active {
            color: rgb(100, 161, 235)5b9f;
            text-decoration: none;
        }
    }
    
    
}
//--------------豬豬--------------
#face-wrap {
    margin: 160px auto 0;
    width: 160px;
  }
  
  #face {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background: rgb(255, 200, 200);
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
  }
  
  .ear {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background: rgb(255, 200, 200);
  }
  #ear-l {
    left: -20px;
  }
  #ear-r {
    left: +110px;
  }
  
  .eye {
    top: +75px;
    position: absolute;
    width: 40px;
    height: 4px;
    background: rgb(255, 250, 250);
  }
  #eye-l {
    left: +14px;
  }
  #eye-r {
    left: +100px;
  }
  
  #nose {
    position: absolute;
    top: +75px;
    left: +47px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: rgb(250, 160, 160);
  }
  .nose {
    top: +13px;
    position: absolute;
    width: 7px;
    height: 35px;
    background: rgb(255, 125, 125);
  }
  #nose-l {
    left: +16px;
  }
  #nose-r {
    left: +36px;
  }
  
  
  /* -- ZZZzzzz -- */
  .z1{
        position: absolute;
        left: 70%;
        font-family: "jf-openhuninn",'Montserrat','Noto Sans TC', sans-serif;
        font-size: 60px;
        font-weight: lighter;
        line-height: 0px;
        color: black;
        display: inline;
        animation: sleep  1.5s linear 2s infinite;
        z-index: 1;
    }
@keyframes sleep{
    0%{
        font-size: 60px;
        transform:translateY(20px);
        opacity: 1;
    }
    100%{
        font-size: 90px;
        transform:translateY(-70px);
        opacity: 0;
    }
}
  
//--------------------------------
.section-carousel{
    //background-color: '#fb8b75';
    background-color:rgba(182, 202, 228, 0.76);
    padding: 50px 0;
    .container{
      margin:auto;
    }
    .features_title{
        font-family: "jf-openhuninn",'Montserrat','Noto Sans TC', sans-serif;
        font-size: 55px;
    }
    
    .col{
        padding: 45px 30px 20px 30px;
        background: rgba(255,255,255,0.4);
        transition: 0.3s;
        margin-top:20px;
        margin-bottom:20px;
        border-radius: 30px;
        overflow: hidden;
    }
    .col1{
        margin-right:70px;
        span{
            opacity: 1;
            transition: 0.3s;
        }
    }
    .col:hover{
        background: rgba(75, 126, 192, 0.596);
        h4{ 
            transform: translateY(-4px);
        }
        .title_line{ 
            width: 60%;
        }
        span{
            opacity: 0;
            transform: translate(0px,40px);
            }
        p{
            transform: translate(0px,8px);
        }
        p::after{
            opacity: 1;
            transform: translate(0, 0);
        }      
    }
    // 參考https://reurl.cc/GrxDGW
    p::after{
        content: attr(data-text);
        position: absolute;
        line-height: 1.8em;
        top: 0%;
        left: 0%;
        opacity: 0;
        transform: translate(-30%, -50%) rotate(-30deg);
        color: black;
        transition: all 0.3s;   
    }
    .features{
        position: relative;
        transition: background-position 5s ease-out;
        height: 100%;
        width: 100%;
        h4{
            position: relative;
            left: 5%;
            font-family: "jf-openhuninn",'Montserrat','Noto Sans TC', sans-serif;
            font-size: 30px;
            color: black;
            margin: 0px;
            transition: 0.5s;
            transform: translateY(0px);
        }
        .title_line{
            width: 92%;
            opacity: 0.9;
            height: 2.5px;
            background:#253ca3d7;
            border-radius: 60px;
            box-shadow: 0em 0em 2em #ffffff;
            transition: 0.5s;
        }
        img{
            transition: 0.5s;
        }
        p{
            font-family: "jf-openhuninn",'Montserrat','Noto Sans TC', sans-serif;
            color: rgba(70, 70, 70, 0.267);
            font-size: 20px;
            display: inline-block;
            line-height: 1.8em;
            max-width: 70%;
            transform: translateY(2px);
            vertical-align: top;
            transition: 0.3s;
            overflow: hidden;
        }
        
        .feature1{
            display: inline-block;
            width: 22%;
            vertical-align: top;
            margin-right: 20px;
            margin-top: 20px;
        }
        .feature2{
            display: inline-block;
            width: 20%;
            vertical-align: top;
            margin-right: 20px;
            margin-top: 20px;
        }
        .feature3{
            display: inline-block;
            width: 18%;
            vertical-align: top;
            margin-right: 20px;
            margin-top: 20px;
        }
        .feature4{
            display: inline-block;
            width: 20%;
            vertical-align: top;
            margin-right: 20px;
            margin-top: 20px;
        }
        
    }
}
.section-introduction{
    background-color:#da7973;
    padding: 55px 0;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .page-header{
        .content-center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -75%);
        }
        .presentation-title{
            background: none !important;
        }
    }
}


[class*="features-"],
[class*="team-"],
[class*="projects-"],
[class*="pricing-"],
[class*="testimonials-"],
[class*="contactus-"] {
    padding: 80px 0;
}
.section-image {
    background-position: center center;
    background-size: cover;

    &:before {
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    & .container {
        position: relative;
        z-index: 2;
    }
}
