.surveypage{
    background-color:#e1f5fe;
    padding: 35px 120px 15px;
    min-height: 720px;

    .survey_title{
        color: black;
        font-size: 30px;
        font-weight:bold;
        margin-top: 30px;
        margin-bottom: 5px;
        position: relative;
        text-align:center;
        font-family:Microsoft JhengHei;
    }
    .notice_title{
        color: 	#606060;
        font-size: 15px;
        margin-top: 50px;
        margin-left: 30px;
        margin-bottom: 5px;
        position: relative;
        text-align:center;
        font-family:Microsoft JhengHei;

    }
    .survey_title_line{
        width: 85%;
        border-top: solid black 1.8px;
        position: relative;
        opacity: 75%;
        margin-bottom: 50px;
        transform: translateX(-2%);
    }

    .problem_space{
        margin-bottom: 40px;
        margin-left: 30px;

        .problem_title{
            color: black;
            font-size: 20px;
            font-weight:bold;
            margin-left: -20px;
            margin-bottom: 20px;
            font-family:Microsoft JhengHei;
        }

        .dollar{
            font-size: 20px;
            margin-top: 5px;
        }
    }

    .method_space{
        margin-bottom: 40px;
        margin-left: 30px;
        display:none;

        .problem_title{
            color: black;
            font-size: 20px;
            font-weight:bold;
            margin-left: -20px;
            margin-bottom: 20px;
            font-family:Microsoft JhengHei;
        }

        .dollar{
            font-size: 20px;
            margin-top: 5px;
        }
    }
    
    .submit-btn{
        width: 80px;
        height: 40px;
        border-radius: 5px;
        border: #0288d1 solid;
        outline:none;
        background: #e1f5fe;
        color: #0288d1;
        font-weight:bold;
        margin-top: -20px;
        margin-left: 500px;
    }

    .previous-btn{
        width: 80px;
        height: 40px;
        border-radius: 5px;
        border: #0288d1 solid;
        outline:none;
        background: #e1f5fe;
        color: #0288d1;
        font-weight:bold;
        margin-top: -20px;
        margin-left: -30px;
    }

    .submit-btn:hover{
        background: #0288d1;
        color: #F8EDEB;
        transition-duration: 0.4s;
    }

    .previous-btn:hover{
        background: #0288d1;
        color: #F8EDEB;
        transition-duration: 0.4s;
    }



}